@charset "UTF-8";

section {
	box-sizing: border-box;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.form-group label {
	margin: 4px 0;
}