@charset "UTF-8";

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	box-sizing: border-box;
	padding: 16px;
}

section table {
	width: 100%;
	margin: 16px 0;
}

.divCadastrar {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 16px 0;
	justify-content: center;
}

.btnCadastrar {
	padding: 12px 24px;
}