@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	
	background-color: #804040;
}

section {
	width: 80%;
	box-sizing: border-box;
	margin-top: 12px;
	padding: 24px;

	background-color: #800000;
	word-wrap: break-word;
}

section h2, section p {
	word-wrap: break-word;
	white-space: pre-wrap;
	text-align: justify;
}